<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
           ></script>
</head>

<body>

<div id="myChart" style="height: 60vh; width: 200vh"></div>
<br/>

<div>
<form action = "" method = "get">
    <input type = "text" th:value = "${param.symbol}" name = "symbol"/>
    <input type = "text" th:value = "${param.startDate}" name = "startDate"/>
    <input type = "text" th:value = "${param.endDate}" name = "endDate"/>
    <input type = "submit" value = "Submit"/>

</form>
    <h5>symbol(s)(compare multiple stock by separating them by commas(spy,msft...etc)), startDate, endDate(leave blank for full range)</h5>
    <h6>eg url: http://applestock.us-west-1.elasticbeanstalk.com/service/chart?symbol=spy%2Cmsft%2Camzn&startDate=2015-06-30&endDate=2020-01-01 </h6>

</div>
<div id="TAChart" style="height: 20vh; width: 200vh"></div>

<script type="text/javascript">
    let symbolsName = "[[${symbols}]]";
    symbolsName = symbolsName.replace("[", "");
    symbolsName = symbolsName.replace("]", "");

    let symbolName = "[[${name}]]";

    let manySymbols = "[[${multSym}]]";
    let manySymbolsArr = manySymbols.split("+");

    let symbolsNameArr = symbolsName.split(",");

    manySymbolsArr.pop();

    let dataStr = "[[${dataColl}]]";
    let volDataStr = "[[${volDataColl}]]";

    let volDataArr = volDataStr.split(":");
    let dataArr = dataStr.split(":");

    volDataArr.pop();
    dataArr.pop();

    let volData = "";
    let parsData = "";


</script>
<script type = "text/javascript" src = "/makeChart.js"></script>


</body>
</html>