<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"

           >
    </script>
    <script>
        function getYearDiff() {
            var endDate = document.inputForm.endDate;
            var startDate = document.inputForm.startDate;

            if(startDate != null || endDate != null){
                var startYear =  startDate.value.split("-")[0];
                var endYear = endDate.value.split("-")[0];

                if(endYear-startYear <= 3){
                    if(endYear-startYear === 0){
                        document.inputForm.timeseries.value = "TIME_SERIES_WEEKLY_ADJUSTED";
                    }else{
                        document.inputForm.timeseries.value = "TIME_SERIES_DAILY_ADJUSTED";
                    }
                }else{
                    document.inputForm.timeseries.value = "TIME_SERIES_WEEKLY_ADJUSTED";
                }
            }
        }

    </script>

</head>

<body>

<div id="myChart" style="height: 60vh; width: 190vh"></div>
<br/>

<form name = "inputForm" method = "get" onsubmit="getYearDiff()">
    <input  type = "text" th:value = "${param.symbol}" name = "symbol"/>
    <input type = "text" th:value = "${param.startDate}" name = "startDate"/>
    <input type = "text" th:value = "${param.endDate}" name = "endDate"/>
    <input type = "hidden" th:value = "${param.chartType}" name = "chartType"/>
    <input type = "hidden" th:value = "${param.timeseries}" name = "timeseries"/>
    <input type = "submit" value = "submit_button"/>
    <input type = "button" onclick="changeRange(1)" value= "1 year range"/>
    <input type = "button" onclick="changeRange(3)" value = "3 year range"/>
    <input type = "button" onclick="changeRange(5)" value = "5 year range"/>
    <input type = "button" onclick="changeRange(10)" value= "10 year range"/>
    <br> <h6>chart type not available when comparing stocks</h6>
    <input type = "button" onclick = "document.inputForm.chartType.value = 'line'; document.inputForm.submit()" value = "line chart"/>
    <input type = "button" onclick = "document.inputForm.chartType.value = 'candle'; document.inputForm.submit()" value = "candle chart"/>
    <input type = "button" onclick="document.inputForm.timeseries.value = 'TIME_SERIES_DAILY_ADJUSTED'; document.inputForm.submit()" value = "daily data"/>
    <input type = "button" onclick="document.inputForm.timeseries.value = 'TIME_SERIES_WEEKLY_ADJUSTED'; document.inputForm.submit()" value = "weekly data"/>

</form>
    <h5>symbol(s)(compare multiple stock by separating them by commas(spy,msft...etc)), startDate, endDate(leave blank for full range)</h5>
    <h6>eg url: http://applestock.us-west-1.elasticbeanstalk.com/service/chart?symbol=spy%2Cmsft%2Camzn&startDate=2015-06-30&endDate=2020-01-01 </h6>

</div>
<div id="TAChart" style="height: 20vh; width: 200vh"></div>

<script type="text/javascript">
    let chartType = "[[${chartType}]]";

    let symbolsName = "[[${symbols}]]";
    symbolsName = symbolsName.replace("[", "");
    symbolsName = symbolsName.replace("]", "");

    let symbolName = "[[${name}]]";

    let manySymbols = "[[${multSym}]]";
    let manySymbolsArr = manySymbols.split("+");

    let symbolsNameArr = symbolsName.split(",");

    manySymbolsArr.pop();

    let dataStr = "[[${dataColl}]]";
    let volDataStr = "[[${volDataColl}]]";

    let volDataArr = volDataStr.split(":");
    let dataArr = dataStr.split(":");

    volDataArr.pop();
    dataArr.pop();

    let volData = "";
    let parsData = "";


</script>
<script type = "text/javascript">


    function changeRange(numToAdd){
        var newDate = new Date();

        var nowDD = newDate.getDate();
        var nowMM = newDate.getMonth()+1;

        var dateNow = newDate.getFullYear();

        newDate.setFullYear(dateNow-numToAdd);

        var todayDate = new Date();
        document.inputForm.endDate.value = todayDate.getFullYear() + "-" + todayDate.getMonth()+1 + "-" + todayDate.getDate();
        document.inputForm.startDate.value= newDate.getFullYear()+"-"+nowMM+"-"+nowDD;
    }


</script>
<script type = "text/javascript" src = "/parseCSV.js"></script>
<script type = "text/javascript" src = "/makeChart.js"></script>
</body>
</html>